@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #f2f2f2;
}

section {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 80px 0 0;
}

section h2 {
  font-size: 36px;
}

section > p {
  text-align: center;
}


/* HEADER DAN NAVBAR */
header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  display: flex;
  justify-content: center;
  background: #333;
}

.navbar {
  display: flex;
  padding: 0 10px;
  max-width: 1200px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.navbar input#menu-toggler {
  display: none;
}

.navbar #hamburger-btn {
  cursor: pointer;
  display: none;
}

.navbar .all-links {
  display: flex;
  align-items: center;
}

.navbar .all-links li {
  position: relative;
  list-style: none;
}

.navbar .logo a {
  display: flex;
  align-items: center;
  margin-left: 0;
}

.nav-sign-in {
  color: #000;
  display: flex;
  font-size: 19px;
  padding: 8px 18px;
  border-radius: 15px;
  background: blanchedalmond;
  border: 1px solid #fff;
  transition: 0.4s ease;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  text-decoration: none;
}

.nav-sign-in:hover {
  color: #333;
  background: rgba(255, 255, 255, 0.3);
}

/* Style for sub-menu */
.nav-profile ul.sub-menu {
  display: none;
  position: absolute;
  background-color: #fff;
  border-radius: 10px;
  width: 250px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.nav-profile ul.sub-menu li {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 12px 16px;
}

.nav-profile ul.sub-menu li a {
  color: #000;
  margin-left: 0px;
  text-decoration: none;
  display: block;
  text-align: left;
  transition: 0.3s ease;
}
  
.nav-profile ul.sub-menu li a:hover {
  background-color: #f2f2f2;
  border-radius: 5px;
}

.nav-profile:hover ul.sub-menu {
  display: block;
}

/* Style for main profile dropdown and sub-menu items */
.nav-profile,
.nav-profile ul.sub-menu li a {
  padding: 12px 16px;
}

.nav-profile {
  position: relative; 
}

.nav-profile i.fas.fa-caret-down {
  margin-left: 5px;
}

.btn-primary {
  border-radius: 5px;
  background-color: #333; 
  color: #fff;
  font-weight: bold;
  padding: 8px 16px;
  cursor: pointer;
}

.btn-primary:hover{
  color: #333; 
  background-color : rgba(255, 255, 255, 0.3);
}

header a,
footer a {
  margin-left: 40px;
  text-decoration: none;
  color: #fff;
  height: 100%;
  padding: 20px 0;
  display: inline-block;
}

header a:hover,
footer a:hover {
  color: burlywood;
}


        /* ABOUT */
/* Gaya untuk setiap baris (row) */
.row:nth-child(even) {
  flex-direction: row-reverse;
}

.company-info {
  margin-top: 50px;
}

.company-info,
.mission,
.vision {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
  background-color: rgb(69, 90, 129);  
  border-radius: 90px; 
  padding: 30px; 
  color: #f2f2f2; 
  transition: transform 0.3s ease; 
}

.company-info:hover,
.mission:hover,
.vision:hover {
  transform: translateY(-5px); 
}

.company-info h3,
.mission h3,
.vision h3 {
  font-size: 40px;
  margin: 90px 160px 10px;
  text-align: center;
}

.company-info p,
.mission p,
.vision p {
  width: calc(50% - 10px); 
  font-size: 17px;
  line-height: 2.0;
  text-align: justify;
}

.row:hover {
  transform: translateY(-5px);
  transition: transform 0.3s ease;
}

.row {
  animation: fadeInUp 1s ease;
}

section.about h2 {
  animation: fadeInDown 1s ease;
}

section.about p {
  animation: fadeInUp 1s ease;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

section.about{
  margin: 0 auto;
  max-width: 1200px;
}

.row.team h3{
  margin-top: 20px;
  font-size: 40px;
  text-align: center;
}

.about .team {
  text-align: left;
  width: 100%;
}

.about .team ul {
  padding-left: 20px;
}

.about .row {
  padding: 15px 40px 10px;
}

  /* Cards Team */
.row.team {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  text-align: center;
  margin-bottom: 25px;
}

.team-member {
  border: 2px solid white;
  padding: 20px;
  border-radius: 20px;
  width: 200px;
}

.team-info {
  margin-top: 20px;
}

.team-info h4 {
  margin-bottom: 10px;
}

.team-info img {
  width: 100%;
  max-width: 150px; 
  height: auto;
  border-radius: 50%;
  margin-top: 10px;
}

.team-info p {
  margin-top: 10px;
}

.social-icons {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.social-icons a {
  margin-right: 10px;
  color: #333;
  font-size: 18px;
}

.social-icons a:hover {
  color: #007bff;
}

  /* FOOTER */
footer {
  width: 100%;
  display: flex;
  justify-content: center;
  background: #000;
  padding: 20px 0;
}

footer div {
  container: auto;
  padding: 0 10px;
  max-width: 1200px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

footer span {
  color: #fff;
}

footer a {
  padding: 0;
  height: 0;
}

@media screen and (max-width: 860px) {
  .nav-sign-in {
    color: #000;
    font-size: 19px;
    padding: 8px 12px; 
    border-radius: 15px;
    background: blanchedalmond;
    display: inline-block;
    width: auto;
  }

  .navbar .all-links {
    position: fixed;
    left: -100%;
    width: 300px;
    display: block;
    height: 100vh;
    top: 75px;
    background: #333;
    transition: left 0.3s ease;
  }

  .navbar #menu-toggler:checked ~ .all-links {
    left: 0;
  }

  .navbar .all-links li {
    font-size: 18px;
  }

  .navbar #hamburger-btn {
    display: block;
  }

  section {
    padding: 80px 20px; 
  }

  section h2 {
    font-size: 32px; 
  }

  .row p {
    font-size: 16px; 
  }

  .row {
    flex-direction: column; 
  }

  .row.company-info,
  .row.mission,
  .row.vision {
    margin-bottom: 30px; 
  }

  .row h3 {
    margin: 20px 0; 
    font-size: 24px; 
    text-align: left;
  }

  .row p {
    width: 100%; 
    font-size: 16px; 
  }

  .row:nth-child(even) {
    flex-direction: row; 
  }
}