@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #f2f2f2;
}

/* HEADER DAN NAVBAR */
header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  display: flex;
  justify-content: center;
  background: #333;
}

.navbar {
  display: flex;
  padding: 0 10px;
  max-width: 1200px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.navbar input#menu-toggler {
  display: none;
}

.navbar #hamburger-btn {
  cursor: pointer;
  display: none;
}

.navbar .all-links {
  display: flex;
  align-items: center;
}

.navbar .all-links li {
  position: relative;
  list-style: none;
}

.navbar .logo a {
  display: flex;
  align-items: center;
  margin-left: 0;
}

.nav-sign-in {
  color: #000;
  display: flex;
  font-size: 19px;
  padding: 8px 18px;
  border-radius: 15px;
  background: blanchedalmond;
  border: 1px solid #fff;
  transition: 0.4s ease;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  text-decoration: none;
}

.nav-sign-in:hover {
  color: #333;
  background: rgba(255, 255, 255, 0.3);
}

/* Style for sub-menu */
.nav-profile ul.sub-menu {
  display: none;
  position: absolute;
  background-color: #fff;
  border-radius: 10px;
  width: 250px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.nav-profile ul.sub-menu li {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 12px 16px;
}

.nav-profile ul.sub-menu li a {
  color: #000;
  margin-left: 0px;
  text-decoration: none;
  display: block;
  text-align: left;
  transition: 0.3s ease;
}
  
.nav-profile ul.sub-menu li a:hover {
  background-color: #f2f2f2;
  border-radius: 5px;
}

.nav-profile:hover ul.sub-menu {
  display: block;
}

/* Style for sub-menu items */
  .nav-profile,
  .nav-profile ul.sub-menu li a {
    padding: 12px 16px;
  }

  .nav-profile {
  }

  .nav-profile i.fas.fa-caret-down {
    margin-left: 5px;
  }

  .btn-primary {
    border-radius: 5px;
    background-color: #333; 
    color: #fff;
    font-weight: bold;
    padding: 8px 16px;
    cursor: pointer;
  }

  .btn-primary:hover{
    color: #333; 
    background-color : rgba(255, 255, 255, 0.3);
  }

header a,
footer a {
  margin-left: 40px;
  text-decoration: none;
  color: #fff;
  height: 100%;
  padding: 20px 0;
  display: inline-block;
}

header a:hover,
footer a:hover {
  color: burlywood;
}

/* HOME PAGE */
.homepage {
  height: 100vh;
  width: 100%;
  position: relative;
  background: url("images/cars2.jpg");
  background-position: center 65%;
  background-size: cover;
}

.homepage::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
}

.homepage .content {
  display: flex;
  height: 85%;
  z-index: 3;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.homepage .content h1 {
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 10px;
}

.homepage .content .text {
  margin-bottom: 50px;
  color: #fff;
  font-size: 20px;
  text-align: center;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.content a {
  color: #000;
  display: block;
  text-transform: uppercase;
  font-size: 18px;
  margin: 0 10px;
  padding: 10px 30px;
  border-radius: 5px;
  background: #fff;
  border: 2px solid #fff;
  transition: 0.4s ease;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  text-decoration: none;
}

.content a:hover {
  color: #fff;
  background: rgba(255, 255, 255, 0.3);
}

section {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 80px 0 0;
}

section h2 {
  font-size: 2rem;
}

section > p {
  text-align: center;
}

    /* CARDS */
section .cards {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin-top: 50px;
  padding: 0 10px;
  justify-content: space-between;
}

section .cards .card {
  background: #fff;
  padding: 40px 15px;
  list-style: none;
  border-radius: 5px;
  box-shadow: 0px 30px 50px rgba(0, 0, 0, 0.04);
  margin-bottom: 40px;
  width: calc(100% / 3 - 30px);
  text-align: center;
}

.cars .card img {
  width: 100%;
  padding-bottom: 10px;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  border-radius: 7px;
}

.cards .card p {
  padding: 0 15px;
  margin-top: 5px;
}

.view-more-button {
  color: white;
  display: block;
  text-transform: uppercase;
  font-size: 18px;
  margin-top: 5px;
  padding: 10px 30px;
  border-radius: 8px;
  background: rgb(39, 72, 106);
  border: 2px solid #fff;
  transition: 0.4s ease;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  text-decoration: none;
}

.view-more-button:hover {
  color: #333;
  background: rgba(0, 39, 165, 0.3);
}

    /* SERVICES CARDS */
.services .card:hover {
  background-color: burlywood; 
  opacity: 0.6; 
  transition: background-color 0.5s ease, opacity 0.5s ease; 
  box-shadow: 0px 20px 38px rgba(4, 147, 243, 0.4); 
}

.services .card:hover h3 {
  color: #ffffff; 
  transition: color 0.5s ease; 
}

.services .card:hover p {
  color: #ffffff; 
  transition: color 0.5s ease; 
}

.services .card img {
  width: 120px;
  height: 120px;
  margin-bottom: 20px;
  border-radius: 50%; 
  object-fit: cover;
  box-shadow: 0px 4px 50px rgba(241, 181, 51, 0.4);
  filter: brightness(1.5);
  transition: filter 0.5s ease; 
}

.services .card:hover img {
  filter: invert(1); 
  transition: filter 0.5s ease; 
}


    /* Animasi Cards */
.cars .card {
  border-radius: 10px;
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
}

.cars .card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(2, 46, 149, 0.3),
    rgba(255, 255, 255, 0)
  );
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.cars .card:hover::before {
  opacity: 1;
}

.cars .card:hover {
  transform: scale(1.1);
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.2);
}


        /* ABOUT */
/* Gaya untuk setiap baris (row) */
.row:nth-child(even) {
  flex-direction: row-reverse;
}

.company-info {
  margin-top: 50px;
}

.company-info,
.mission,
.vision {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
  background-color: rgb(69, 90, 129);  
  border-radius: 90px; 
  padding: 30px; 
  color: #f2f2f2; 
  transition: transform 0.3s ease; 
}

.company-info:hover,
.mission:hover,
.vision:hover {
  transform: translateY(-5px); 
}

.company-info h3,
.mission h3,
.vision h3 {
  font-size: 40px;
  margin: 90px 160px 10px;
  text-align: center;
}

.company-info p,
.mission p,
.vision p {
  width: calc(50% - 10px); 
  font-size: 17px;
  line-height: 2.0;
  text-align: justify;
}

.row:hover {
  transform: translateY(-5px);
  transition: transform 0.3s ease;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.row {
  animation: fadeIn 1s ease;
}

section.about{
  margin: 0 auto;
  max-width: 1200px;
}

.row.team h3{
  margin-top: 20px;
  font-size: 40px;
  text-align: center;
}

.about .team {
  text-align: left;
  width: 100%;
}

.about .team ul {
  padding-left: 20px;
}

.about .row {
  padding: 15px 40px 10px;
}

  /* Cards Team */
.row.team {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  text-align: center;
  margin-bottom: 10px;
}

.team-member {
  border: 2px solid white;
  padding: 20px;
  border-radius: 20px;
  width: 200px;
}

.team-info {
  margin-top: 20px;
}

.team-info h4 {
  margin-bottom: 10px;
}

.team-info img {
  width: 100%;
  max-width: 150px; 
  height: auto;
  border-radius: 50%;
  margin-top: 10px;
}

.team-info p {
  margin-top: 10px;
}

.social-icons {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.social-icons a {
  margin-right: 10px;
  color: #333;
  font-size: 18px;
}

.social-icons a:hover {
  color: #007bff;
}


    /* CONTACT */
.contact .row {
  margin: 60px 0 90px;
  display: flex;
  max-width: 1200px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.contact .row .col {
  padding: 0 10px;
  width: calc(100% / 2 - 50px);
}

.contact .col p {
  margin-bottom: 10px;
}

.contact .col p i {
  color: #7a7a7a;
  margin-right: 10px;
}

.contact form input {
  height: 45px;
  margin-bottom: 20px;
  padding: 10px;
  width: 100%;
  font-size: 16px;
  outline: none;
  border: 1px solid #bfbfbf;
}

.contact form textarea {
  padding: 10px;
  width: 100%;
  font-size: 16px;
  height: 150px;
  outline: none;
  resize: vertical;
  border: 1px solid #bfbfbf;
}

.contact form button {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 17px;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  background: #333;
  transition: 0.2s ease;
}

.contact form button:hover {
  background: #525252;
}

/* .services{
  background: #556fa1;
}

.cars{
  background: #ba442a; 
}

.about{

} */


/* Animasi untuk header */
header {
  animation: fadeInDown 1s ease forwards;
}

/* Animasi untuk konten */
.homepage .content {
  animation: fadeInUp 1s ease forwards;
}

/* Animasi untuk tombol "View More" */
.view-more-button {
  animation: pulse 1.5s ease infinite;
}

    /* Animasi untuk cards */
/* Keyframes untuk fadeInDown */
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Keyframes untuk fadeInUp */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Keyframes untuk pulse */
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

/* Keyframes untuk scaleUp */
@keyframes scaleUp {
  from {
    transform: scale(0.8);
  }
  to {
    transform: scale(1);
  }
}


    /* FOOTER */
footer {
  width: 100%;
  display: flex;
  justify-content: center;
  background: #000;
  padding: 20px 0;
}

footer div {
  container: auto;
  padding: 0 10px;
  max-width: 1200px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

footer span {
  color: #fff;
}

footer a {
  padding: 0;
  height: 0;
}

.contact .row {
  flex-direction: column;
}

.contact .row .col {
  width: 100%;
}

.contact .row .col:last-child {
  margin-top: 40px;
}

    /* Media Mobile */
@media screen and (max-width: 860px) {
  .nav-sign-in {
    color: #000;
    font-size: 19px;
    padding: 8px 12px;
    border-radius: 15px;
    background: blanchedalmond;
    display: inline-block;
    width: auto;
  }

  .navbar .all-links {
    position: fixed;
    left: -100%;
    width: 300px;
    display: block;
    height: 100vh;
    top: 75px;
    background: #333;
    transition: left 0.3s ease;
  }

  .navbar #menu-toggler:checked ~ .all-links {
    left: 0;
  }

  .navbar .all-links li {
    font-size: 18px;
  }

  .navbar #hamburger-btn {
    display: block;
  }

  section > p {
    text-align: center;
  }

  section .cards .card {
    width: calc(100% / 2 - 15px);
    margin-bottom: 30px;
  }

  .homepage .content h1 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 10px;
  }

  .homepage .content .text {
    font-size: 17px;
  }

  section.about{
    padding: 0px 20px; 
  }

  .row p {
    font-size: 16px; 
  }

  .row {
    flex-direction: column; 
  }

  .row.company-info,
  .row.mission,
  .row.vision {
    margin-bottom: 30px; 
  }

  .row h3 {
    margin: 20px 0; 
    font-size: 24px; 
    text-align: left;
  }

  .row p {
    width: 100%; 
    font-size: 16px; 
  }

  .row:nth-child(even) {
    flex-direction: row; 
  }
}

@media screen and (max-width: 560px) {
  section .cards .card {
    width: 100%;
    margin-bottom: 30px;
  }
}